name: Ruff Check

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff

      - name: Run linting
        run: |
          ruff check ruoyi-fastapi-backend
          ruff check ruoyi-fastapi-test

      - name: Run format check
        run: |
          ruff format ruoyi-fastapi-backend --check
          ruff format ruoyi-fastapi-test --check
